# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/

# Production
/build

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# PWA
public/sw.js
public/workbox-*.js
public/worker-*.js
public/fallback-*.js
public/sw.js.map
public/workbox-*.js.map

# OS
.DS_Store
Thumbs.db

# Sentry
.sentryclirc
